## ExMAS
> Exact Matching of Attractive Shared rides (ExMAS) for system-wide strategic evaluations
> 
> Kucharski R., Cats O. ,_Transportation Research Part: B_, 2020

---
#### Bigger demand level

3000 trips in Delft (67 000 feasible shared rides, 9 000 000 theoreticallly possible trip pairs)

In [1]:
import os
cwd = os.getcwd()

In [2]:
os.chdir(os.path.join(cwd,'../..'))
import ExMAS.main
import ExMAS.utils

In [3]:
from ExMAS.utils import inData as inData

### prepare

1. __load the default config__ (see more details in `ExMAS/notebooks/01 configuration.ipynb`)

In [4]:
params = ExMAS.utils.get_config('D:\TIL6022\A7\TIL6010-LabAssignments\ExMAS\ExMAS/data/configs/default.json') # load the default 
params.nP = 1000
params.shared_discount = 0.25
params.price = 1.5
params.simTime = 4
params.PT_price = 0.2
params.PT_beta = 1.3
params.PT_speed = 1/2
params.ascpt = 4
params.VoT_std = 0.001

2. __load the network__ (see more details in `ExMAS/notebooks/02 NetworkGraphs.ipynb`)

In [5]:
inData = ExMAS.utils.load_G(inData, params, stats=True)  # download the graph

3. __generate trip requests__ (see more details in `ExMAS/notebooks/02 NetworkGraphs.ipynb`)

In [6]:
inData = ExMAS.utils.generate_demand(inData, params)

In [7]:
inData = ExMAS.main(inData, params)

03-12-22 22:18:35-INFO-Initializing pairwise trip shareability between 1000 and 1000 trips.
03-12-22 22:18:35-INFO-creating combinations
03-12-22 22:18:36-INFO-999000	 nR*(nR-1)
29955
number of ns and pt users:

AttributeError: 'DotMap' object has no attribute 'PT_price'

### run

In [ ]:
KPIs = inData.sblts.res.to_frame()
#print(KPIs)
#print(ExMAS.utils.KPIs_descriptions)
KPIs['description']  = ExMAS.utils.KPIs_descriptions
KPIs.columns = ['KPI', 'description']
KPIs

,KPI,description
VehHourTrav,275795,total travel time of vehicles (with travellers...
VehHourTrav_ns,332511,as above yet in non-shared scenarion
PassHourTrav,359214,total travel time of passengers
PassHourTrav_ns,332511,as above yet in non-shared scenarion
PassUtility,4990.22685,total (dis)utility of passengers
PassUtility_ns,5159.3355,as above yet in non-shared scenarion
mean_lambda,0.246958,mean vehicle cost reduction (lambda) over shar...
shared_fares,1944.477,total fares for shared vehicles
ns_fares,1397.496,total fares for non-shared vehicles
revenue,3341.973,total fares for two service
avg_ns_dist,1728.424,total fares paid by travellers sharing
avg_sh_dist,931.664,as above yet in non-shared scenarion
avg_dist,1,relative revenue reduction
nR,1000,number of trips
SINGLE,474,number of single rides in the solution
PT,0,number of public transport rides in the solution
PAIRS,224,2nd degree rides in the solution
TRIPLES,26,3rd degree rides in the solution
QUADRIPLES,0,4th degree rides in the solution
QUINTETS,0,5th degree rides in the solution
PLUS5,0,rides of degree greater than 5 in the solution
shared_ratio,0.526,what portion of rides were shared
fleet_size_nonshared,33.0,proxy for the fleet size (lower bound)
fleet_size_shared,27.0,as above yet in non-shared scenarion
lambda_shared,0.246958,maximal discount to be offered while profitable
_typ,{'_typ': {}},sys
ndim,{'_typ': {}},sys
dtype,{'_typ': {}},sys

 all feasible rides

In [ ]:
inData.sblts.rides.sample(5)

,indexes,u_pax,u_veh,kind,u_paxes,times,indexes_orig,indexes_dest,degree,index,PassHourTrav_ns,row,selected
2734,"[682, 706]",11.893825,755,21,"[8.981625000000001, 2.9122]","[9605.5, 361, 214, 165]","[682, 706]","[706, 682]",2.0,2734,829,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0
1269,"[814, 848]",12.801400,869,20,"[10.029675, 2.771725]","[11455.0, 640, 163, 51]","[814, 848]","[814, 848]",2.0,1269,886,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1
2547,"[872, 877]",16.186300,812,21,"[10.262125000000001, 5.924175]","[12352.5, 236, 408, 153]","[872, 877]","[877, 872]",2.0,2547,1094,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0
2681,"[330, 331]",8.688650,403,21,"[4.809699999999999, 3.8789499999999997]","[4823.5, 38, 283, 67]","[330, 331]","[331, 330]",2.0,2681,609,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0
431,[431],4.101000,264,1,[4.101],"[6073, 264]",[431],[431],1.0,431,264,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1

selected rides in the solution

In [ ]:
inData.sblts.schedule.sample(5)

,indexes,u_pax,u_veh,kind,u_paxes,times,indexes_orig,indexes_dest,degree,index,PassHourTrav_ns,row,selected
382,[382],2.047500,132,1,[2.0475],"[5500, 132]",[382],[382],1,382,132,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1
307,[307],3.038000,196,1,[3.038],"[4525, 196]",[307],[307],1,307,196,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1
420,[420],2.444000,157,1,[2.444],"[5945, 157]",[420],[420],1,420,157,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1
9,[9],2.066000,133,1,[2.066],"[158, 133]",[9],[9],1,9,133,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1
1965,"[289, 294]",9.679075,452,20,"[4.64215, 5.036925]","[4239.0, 20, 324, 93]","[289, 294]","[289, 294]",2,1965,658,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1

trips with parameters of the shared ride

In [ ]:
inData.sblts.requests.sample(5)

,index,origin,destination,treq,tdep,ttrav,tarr,tdrop,dist,pax_id,VoT,delta,u,u_PT,u_bike,ride_id,ttrav_sh,u_sh,kind,position
948,329,44811247,643586490,13644,NaN,172,2022-11-29 17:10:32,NaN,1382,329,0.0035,74.208791,2.6750,3.5326,999999,948,172,2.6750,1,0
325,910,3420136000,44853765,4748,NaN,195,2022-11-29 14:45:19,NaN,1565,910,0.0035,83.983516,3.0300,3.8700,999999,325,195,3.0300,1,0
702,449,321677249,44844080,9822,NaN,347,2022-11-29 16:30:06,NaN,2778,449,0.0035,148.879121,5.3815,6.1023,999999,702,347,5.3815,1,0
959,874,44825833,44790565,13813,NaN,177,2022-11-29 17:13:55,NaN,1416,874,0.0035,75.857143,2.7435,3.6019,999999,959,177,2.7435,1,0
184,907,44838812,44854736,2585,NaN,343,2022-11-29 14:29:01,NaN,2750,907,0.0035,147.494505,5.3255,6.0463,999999,184,343,5.3255,1,0

---
(c) Rafał Kucharski, Delft, 2020