## ExMAS
> Exact Matching of Attractive Shared rides (ExMAS) for system-wide strategic evaluations
> 
> Kucharski R., Cats O. ,_Transportation Research Part: B_, 2020

---
#### Bigger demand level

3000 trips in Delft (67 000 feasible shared rides, 9 000 000 theoreticallly possible trip pairs)

In [1]:
import os
cwd = os.getcwd()

In [2]:
os.chdir(os.path.join(cwd,'../..'))
import ExMAS.main
import ExMAS.utils

In [3]:
from ExMAS.utils import inData as inData

### prepare

1. __load the default config__ (see more details in `ExMAS/notebooks/01 configuration.ipynb`)

In [4]:
params = ExMAS.utils.get_config('D:\\TIL6022\\A7\\TIL6010-LabAssignments\\ExMAS\\ExMAS\\data\\configs\\amsterdam.json') # load the default 
params.nP = 1000
params.price = 1.9
params.shared_discount = 0.4
params.simTime = 4
params.PT_price = 0.2
params.PT_beta = 1.3
params.PT_speed = 1/2
params.ascpt = 4
params.VoT_std = 0.001

2. __load the network__ (see more details in `ExMAS/notebooks/02 NetworkGraphs.ipynb`)

In [5]:
inData = ExMAS.utils.load_G(inData, params, stats=True)  # download the graph

3. __generate trip requests__ (see more details in `ExMAS/notebooks/02 NetworkGraphs.ipynb`)

In [6]:
inData = ExMAS.utils.generate_demand(inData, params)

### run

In [7]:
inData = ExMAS.main(inData, params)

03-12-22 22:29:41-INFO-Initializing pairwise trip shareability between 100 and 100 trips.
03-12-22 22:29:41-INFO-creating combinations
03-12-22 22:29:41-INFO-9900	 nR*(nR-1)
909
number of ns and pt users:
132
78

NetworkXNoPath: Node 46421802 not reachable from 46360568

### results:
KPIs

In [ ]:
KPIs = inData.sblts.res.to_frame()
print(KPIs)
KPIs['description']  = ExMAS.utils.KPIs_descriptions
KPIs.columns = ['KPI', 'description']
KPIs

                                 0
VehHourTrav                 374012
VehHourTrav_ns              492642
PassHourTrav                624328
PassHourTrav_ns             492642
PassUtility              7812.5884
PassUtility_ns           8824.2264
mean_lambda               0.345144
shared_fares            4000.39776
ns_fares                  426.7152
revenue                 4427.11296
avg_sh_dist              13.617912
avg_ns_dist                1.61268
avg_dist                         1
nR                             962
SINGLE                         147
PT                              38
PAIRS                           94
TRIPLES                        108
QUADRIPLES                      48
QUINTETS                        21
PLUS5                            1
shared_ratio              0.847193
fleet_size_nonshared          54.0
fleet_size_shared             39.0
lambda_shared             0.345144
_typ                  {'_typ': {}}
ndim                  {'_typ': {}}
dtype                 {'_typ': {}}

,KPI,description
VehHourTrav,374012,total travel time of vehicles (with travellers...
VehHourTrav_ns,492642,as above yet in non-shared scenarion
PassHourTrav,624328,total travel time of passengers
PassHourTrav_ns,492642,as above yet in non-shared scenarion
PassUtility,7812.5884,total (dis)utility of passengers
PassUtility_ns,8824.2264,as above yet in non-shared scenarion
mean_lambda,0.345144,mean vehicle cost reduction (lambda) over shar...
shared_fares,4000.39776,total fares for shared vehicles
ns_fares,426.7152,total fares for non-shared vehicles
revenue,4427.11296,total fares for two service
avg_sh_dist,13.617912,total fares paid by travellers sharing
avg_ns_dist,1.61268,as above yet in non-shared scenarion
avg_dist,1,relative revenue reduction
nR,962,number of trips
SINGLE,147,number of single rides in the solution
PT,38,number of public transport rides in the solution
PAIRS,94,2nd degree rides in the solution
TRIPLES,108,3rd degree rides in the solution
QUADRIPLES,48,4th degree rides in the solution
QUINTETS,21,5th degree rides in the solution
PLUS5,1,rides of degree greater than 5 in the solution
shared_ratio,0.847193,what portion of rides were shared
fleet_size_nonshared,54.0,proxy for the fleet size (lower bound)
fleet_size_shared,39.0,as above yet in non-shared scenarion
lambda_shared,0.345144,maximal discount to be offered while profitable
_typ,{'_typ': {}},sys
ndim,{'_typ': {}},sys
dtype,{'_typ': {}},sys

 all feasible rides

In [ ]:
inData.sblts.rides.sample(5)

,indexes,u_pax,u_veh,kind,u_paxes,times,indexes_orig,indexes_dest,degree,index,PassHourTrav_ns,row,selected
6763,"[613, 630]",18.83672,1452,20,"[8.913900000000002, 9.922820000000002]","[8499.0, 419, 322, 696]","[613, 630]","[613, 630]",2.0,6763,1147,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0
26235,"[673, 710, 734]",32.90641,1764,30,"[14.26618, 8.95431, 9.68592]","[9386.0, 465, 492, 179, 158, 470]","[673, 710, 734]","[710, 673, 734]",NaN,26235,2032,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0
2367,"[410, 470]",15.13346,1178,20,"[8.796635, 6.336825]","[5957.5, 544, 121, 498]","[410, 470]","[410, 470]",2.0,2367,1025,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0
4967,"[904, 921]",20.23421,1217,20,"[13.438300000000002, 6.79591]","[12640.0, 579, 488, 135]","[904, 921]","[904, 921]",2.0,4967,1327,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0
2659,"[600, 559]",19.47994,844,20,"[9.85708, 9.62286]","[8090.0, 118, 598, 113]","[600, 559]","[600, 559]",2.0,2659,1166,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0

selected rides in the solution

In [ ]:
inData.sblts.schedule.sample(5)

,indexes,u_pax,u_veh,kind,u_paxes,times,indexes_orig,indexes_dest,degree,index,PassHourTrav_ns,row,selected
2464,"[86, 96]",5.67649,339,20,"[2.3037850000000004, 3.372705]","[1326.5, 54, 143, 127]","[86, 96]","[86, 96]",2,2464,347,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1
36765,"[401, 410, 427, 436]",45.36390,1558,40,"[9.046335000000001, 10.821385, 13.225555, 12.2...","[5842.5, 38, 231, 281, 281, 333, 319, 75]","[401, 410, 427, 436]","[401, 410, 427, 436]",4,36765,2876,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1
353,[353],2.38430,133,1,[2.3843],"[5159, 133]",[353],[353],1,353,133,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1
30,[30],16.43400,918,0,[16.434],"[519, 918]",[30],[30],1,30,918,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1
45111,"[862, 851, 839, 873, 857]",44.53431,1128,50,"[10.18402, 9.62054, 9.16628, 8.85812, 6.705350...","[12115.0, 38, 167, 34, 267, 394, 67, 32, 89, 40]","[862, 851, 839, 873, 857]","[851, 862, 839, 873, 857]",5,45111,2638,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1

trips with parameters of the shared ride

In [ ]:
inData.sblts.requests.sample(5)

,index,origin,destination,treq,tdep,ttrav,tarr,tdrop,dist,pax_id,VoT,delta,u,u_PT,u_bike,ride_id,ttrav_sh,u_sh,kind,position
148,982,46321276,46441941,2158,NaN,870,2022-11-30 15:32:07,NaN,6962,982,0.0035,900.909890,15.5766,13.3094,999999,43250,1033,12.960760,52,3
418,465,46391320,46420298,5999,NaN,291,2022-11-30 15:19:00,NaN,2334,465,0.0035,302.182418,5.2197,7.1149,999999,5277,350,4.927670,20,0
150,516,46336020,30210570,2187,NaN,788,2022-11-30 15:21:43,NaN,6309,516,0.0035,816.501099,14.1142,12.4326,999999,14913,916,11.598045,32,1
894,923,1984393207,46389778,12665,NaN,333,2022-11-30 17:15:38,NaN,2666,923,0.0035,345.026374,5.9643,7.5635,999999,12135,416,5.322630,21,0
631,190,3296689779,6933008674,8817,NaN,150,2022-11-30 15:47:08,NaN,1204,190,0.0035,155.907692,2.6922,5.6058,999999,631,150,2.692200,1,0

---
(c) Rafał Kucharski, Delft, 2020